*{
    margin: 0;
    padding: 0;
}
body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: #d1d8e0;
}
header{
    width: 100%;
    height: 65px;
    background-color: #3867d6;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
}
.logoandname{
    width: 960px;
    margin: auto;
}
.logo{
    height: 60px;
    float: left;
}
.name{
    margin-top: 15px;
    float: left;
}
h2{
    text-align: center;
}
.container{
    max-width: 960px;
    margin: auto;
    margin-top: 10px;
    background-color: white;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
}
.container :last-child{
    margin-bottom: 10px;
}
nav{
    height: 35px;
}
nav>a{
    color: black;
    float: left;
    width: 33%;
    margin-top: 7px;
    text-align: center;
}

a{
    text-decoration: none;
}
a:hover{
    color: red;
}
#hyperlinks{
    list-style-position: inside;
}
table{
    border: 4px double black;
}
th{
    border: 1px solid black;
}
tr:nth-child(odd){
     background-color: gray; 
}
tr:nth-child(even){
    background-color: #3867d6; 
}
footer{
    width: 100%;
    height: 60px;
    background-color: #4b6584;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
}
footer p{
    color: white;
    padding-top: 15px;
}
